@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
.btn-twitter .fa.fa-lg,
.btn-facebook .fa.fa-lg {
  margin-right: 2px;
  vertical-align: -1px;
}
.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: #4fa9ed;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn-twitter:focus,
.btn-twitter.focus {
  color: #fff;
  background-color: #389eeb;
  border-color: #1684d7;
}
.btn-twitter:hover {
  color: #fff;
  background-color: #389eeb;
  border-color: #2d98e9;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .btn-twitter.dropdown-toggle {
  color: #fff;
  background-color: #46a5ed;
  border-color: #3ea1eb;
}
.btn-twitter:active:hover,
.btn-twitter.active:hover,
.open > .btn-twitter.dropdown-toggle:hover,
.btn-twitter:active:focus,
.btn-twitter.active:focus,
.open > .btn-twitter.dropdown-toggle:focus,
.btn-twitter:active.focus,
.btn-twitter.active.focus,
.open > .btn-twitter.dropdown-toggle.focus {
  color: #fff;
  background-color: #2394e9;
  border-color: #1684d7;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .btn-twitter.dropdown-toggle {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled.focus,
.btn-twitter[disabled].focus,
fieldset[disabled] .btn-twitter.focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: #4fa9ed;
}
.btn-twitter .badge {
  color: #55acee;
  background-color: #fff;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3a5795;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn-facebook:focus,
.btn-facebook.focus {
  color: #fff;
  background-color: #355089;
  border-color: #2b4170;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #355089;
  border-color: #334d83;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #385590;
  border-color: #37528c;
}
.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open > .btn-facebook.dropdown-toggle:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open > .btn-facebook.dropdown-toggle:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open > .btn-facebook.dropdown-toggle.focus {
  color: #fff;
  background-color: #314a7e;
  border-color: #2b4170;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .btn-facebook.dropdown-toggle {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3a5795;
}
.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff;
}
.btn-hatebu {
  color: #fff;
  background-color: #178fde;
  border-color: #178cda;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn-hatebu:focus,
.btn-hatebu.focus {
  color: #fff;
  background-color: #1581c8;
  border-color: #1169a3;
}
.btn-hatebu:hover {
  color: #fff;
  background-color: #1581c8;
  border-color: #147bc0;
}
.btn-hatebu:active,
.btn-hatebu.active,
.open > .btn-hatebu.dropdown-toggle {
  color: #fff;
  background-color: #1688d3;
  border-color: #1684cd;
}
.btn-hatebu:active:hover,
.btn-hatebu.active:hover,
.open > .btn-hatebu.dropdown-toggle:hover,
.btn-hatebu:active:focus,
.btn-hatebu.active:focus,
.open > .btn-hatebu.dropdown-toggle:focus,
.btn-hatebu:active.focus,
.btn-hatebu.active.focus,
.open > .btn-hatebu.dropdown-toggle.focus {
  color: #fff;
  background-color: #1377b8;
  border-color: #1169a3;
}
.btn-hatebu:active,
.btn-hatebu.active,
.open > .btn-hatebu.dropdown-toggle {
  background-image: none;
}
.btn-hatebu.disabled,
.btn-hatebu[disabled],
fieldset[disabled] .btn-hatebu,
.btn-hatebu.disabled:hover,
.btn-hatebu[disabled]:hover,
fieldset[disabled] .btn-hatebu:hover,
.btn-hatebu.disabled:focus,
.btn-hatebu[disabled]:focus,
fieldset[disabled] .btn-hatebu:focus,
.btn-hatebu.disabled.focus,
.btn-hatebu[disabled].focus,
fieldset[disabled] .btn-hatebu.focus,
.btn-hatebu.disabled:active,
.btn-hatebu[disabled]:active,
fieldset[disabled] .btn-hatebu:active,
.btn-hatebu.disabled.active,
.btn-hatebu[disabled].active,
fieldset[disabled] .btn-hatebu.active {
  background-color: #178fde;
  border-color: #178cda;
}
.btn-hatebu .badge {
  color: #178fde;
  background-color: #fff;
}
.fa.fa-hatebu::before {
  font-family: Verdana;
  font-weight: bold;
  content: "B!";
}
body {
  margin-top: 80px;
}
.v4-dev a {
  display: block;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #b168a8;
}
.v4-dev a:hover,
.v4-dev a:active,
.v4-dev a:focus {
  background-color: #a7569d;
}
.social-button {
  position: relative;
  padding: 10px 0;
  margin: 0 auto !important;
  overflow: hidden;
}
.social-button > ul {
  position: relative;
  left: 50%;
  float: left;
  padding: 0;
  margin: 0;
  list-style: outside none none;
}
.social-button > ul > li {
  position: relative;
  left: -50%;
  float: left;
  padding: 0;
  margin: 0 10px;
}
.social-button > ul > li .fb-like > span {
  vertical-align: 0 !important;
}
.social {
  padding: 10px 0;
  background: #efefef;
}
.jumbotron.special {
  position: relative;
  min-height: 530px;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  background-color: #d8b3d3;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-position: -35% center;
  background-size: 70%;
}
.jumbotron.special .honoka {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 400px;
  height: 550px;
  background-image: url("../img/ayame.png");
  background-repeat: no-repeat;
  background-position: 10% 100%;
  background-size: 181px;
}
.jumbotron.special .outline {
  margin-top: 180px;
}
.jumbotron.special h1,
.jumbotron.special .h1 {
  font-family: Montserrat, sans-serif;
}
.jumbotron.special .download {
  margin: 24px auto 12px;
}
.jumbotron.special .basedon {
  margin: 12px auto;
  color: #7a7a7a;
  text-shadow: #fff 0 1px 2px;
}
section.section {
  padding: 100px 0;
}
section.section.section-default {
  background-color: #373737;
}
section.section.section-inverse {
  background-color: #82437a;
}
section.section .subtitle {
  margin-bottom: 24px;
  text-align: center;
}
section.section .subtitle h2 {
  margin-top: 0;
}
.point .point-box {
  text-align: center;
}
.point .point-box .point-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 100px;
  color: #fff;
  border-radius: 100%;
}
.point .point-box .point-circle.start {
  background-color: #86b81b;
}
.point .point-box .point-circle.replace {
  background-color: #f8b400;
}
.point .point-box .point-circle.compass {
  background-color: #b168a8;
}
.point .point-box .point-circle.japanese {
  background-color: #f83929;
}
.point .point-box .point-circle.japanese span.icon-jp::before {
  font-weight: bold;
  content: "ã‚";
}
.point .point-box .point-description h4 {
  text-align: center;
  height: 3rem;
}
.point .point-box .point-description p {
  text-align: justify;
}
.getting-started h3 {
  margin-top: 0;
}
.japanese-font .well > h3 {
  margin-top: 24px;
}
.available-bower {
  position: relative;
  overflow: hidden;
}
.available-bower .bower-logo {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-image: url("../img/bower-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.3;
}
.featured .subtitle h2 {
  font-size: 1.616rem;
}
.featured ul.featured-list a {
  opacity: 0.7;
}
.featured ul.featured-list a:hover,
.featured ul.featured-list a:active,
.featured ul.featured-list a:focus {
  opacity: 0.5;
}
.featured ul.featured-list li {
  padding: 6px 20px;
}
.thumbnail > a:hover,
.thumbnail > a:active,
.thumbnail > a:focus {
  opacity: 0.7;
}
footer {
  padding: 40px 0;
  color: #efefef;
  background-color: #373737;
}
footer .copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bootstrap-default p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: initial;
  font-feature-settings: initial;
  word-wrap: initial;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
