block css
  if useCDN
    link(rel="stylesheet" href=`${settings.cdn.yakuhan.css}`)
    link(rel="stylesheet" href=`${settings.cdn.bootstrap.css}`)
  link(rel="stylesheet" href="./css/bootstrap.css")
  link(rel="stylesheet" href="./css/example.css")
